- content_for :header_tags do
  = javascript_pack_tag 'admin', async: true, crossorigin: 'anonymous'

- content_for :page_title do
  = t('admin.statuses.title')
  \-
  = "@#{@account.acct}"

.filters
  .filter-subset
    %strong= t('admin.statuses.media.title')
    %ul
      %li= link_to t('admin.statuses.no_media'), admin_account_statuses_path(@account.id, current_params.merge(media: nil)), class: !params[:media] && 'selected'
      %li= link_to t('admin.statuses.with_media'), admin_account_statuses_path(@account.id, current_params.merge(media: true)), class: params[:media] && 'selected'
  .back-link
    = link_to admin_account_path(@account.id) do
      = fa_icon 'chevron-left fw'
      = t('admin.statuses.back_to_account')

%hr.spacer/

= form_for(@form, url: admin_account_statuses_path(@account.id), html: { class: 'moderation_form' }) do |f|
  = hidden_field_tag :page, params[:page]
  = hidden_field_tag :media, params[:media]

  = f.simple_fields_for :email_collection do |email_form|
    .fields-group
      = email_form.input :send_email_notification, as: :boolean, wrapper: :with_label, :input_html => { :checked => true }, label: t('admin.statuses.email_form.send_email_notification.title'), hint: t('admin.statuses.email_form.send_email_notification.desc_html')
    
    %br/
    .fields-group
      = email_form.input :text, as: :text, wrapper: :with_block_label, label: t('admin.statuses.email_form.text.title'), hint: t('admin.statuses.email_form.text.desc_html'), required: false

  %hr.spacer/

  .batch-table
    .batch-table__toolbar
      %label.batch-table__toolbar__select.batch-checkbox-all
        = check_box_tag :batch_checkbox_all, nil, false
      .batch-table__toolbar__actions
        = f.button safe_join([fa_icon('eye-slash'), t('admin.statuses.batch.nsfw_on')]), name: :nsfw_on, class: 'table-action-link', type: :submit, data: { confirm: t('admin.reports.are_you_sure') }
        = f.button safe_join([fa_icon('eye'), t('admin.statuses.batch.nsfw_off')]), name: :nsfw_off, class: 'table-action-link', type: :submit, data: { confirm: t('admin.reports.are_you_sure') }
        - if completely_siloed?
          = f.button safe_join([fa_icon('comments-o'), t('admin.statuses.batch.disable_replies')]), name: :disable_replies, class: 'table-action-link', type: :submit, data: { confirm: t('admin.reports.are_you_sure') }
          = f.button safe_join([fa_icon('comments'), t('admin.statuses.batch.enable_replies')]), name: :enable_replies, class: 'table-action-link', type: :submit, data: { confirm: t('admin.reports.are_you_sure') }
        = f.button safe_join([fa_icon('trash'), t('admin.statuses.batch.delete')]), name: :delete, class: 'table-action-link', type: :submit, data: { confirm: t('admin.reports.are_you_sure') }
        = f.button safe_join([fa_icon('recycle'), t('admin.statuses.batch.restore')]), name: :restore, class: 'table-action-link', type: :submit, data: { confirm: t('admin.reports.are_you_sure') }
    .batch-table__body
      = render partial: 'admin/reports/status', collection: @statuses, locals: { f: f }

= paginate @statuses
